/* HumanWeb */


/* general stuff */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  background: transparent url('../images/header-wood.jpg') top center repeat-x;
  color: #222;
}
#bodyContainer {
  text-align: left;
  margin: 0 auto 0;
  display: block;
  position: relative;
  /*background: #e2deda; */
  background: #e7e7ea;
  box-shadow: 0px -4px  6px #222;
  border-top: 1px solid #f7f7f7;
  padding: 20px 10px 0px;
}
#bodyPage {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0px 0px 5px #aaa;
}
.left-node { margin-top: 12px; margin-left: 10px; }
.right-node { margin-top: 12px; margin-right: 10px; }
.node { margin-top: 12px; }
a {
  color: #2C3088;
  text-decoration: none;
}
a:visited {color: #2C3088;}
a:hover {text-decoration: underline;}
a img {border: 0}
p {
  line-height: 1.4em;
  margin-bottom: 1.2em;
}
p:last-child { margin-bottom: 0; }
.clear { clear: both; }
.clearfix { overflow: auto; width: 100%; }
.none {
  position: absolute;
  left: -9999px;
}
ul li { line-height: 1.4em; }


h1 {
  font-size: 40px;
  margin-bottom: 15px;
  font-family: 'CartoGothicStdBold';
}
h1.light { font-family: 'CartoGothicStdBook'; }
h1.light b { font-family: 'CartoGothicStdBold'; font-weight: normal; }
 
h2 {
  font-family: 'CartoGothicStdBook';
  font-size: 24pt;
}
h3 {
  font-family: 'CartoGothicStdBold';
  font-size: 1.2em;
  margin: 1em 0 0.5em;
}


/* fonts */

@font-face {
    font-family: 'CartoGothicStdBold';
    src: url('../fonts/CartoGothicStd-Bold-webfont.eot');
    src: url('../fonts/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('../fonts/CartoGothicStd-Book-webfont.eot');
    src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}


/******************** logo & top */
#page-header {
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf7f2', endColorstr='#e2deda');
  background: -webkit-gradient(linear, left top, left bottom, from(#faf7f2), to(#e2deda));
  background: -moz-linear-gradient(top,  #faf7f2,  #e2deda); 
  background-color: #e2deda; */
  background: url('../images/header-wood.jpg') no-repeat;
  margin: 0 auto;
  padding: 0 10px;
  /* border-bottom: 1px solid #fff; */
}
  #biglogo {
    /*background-image: url('../images/humanweb_logo_med.png');*/
    /*background-image: url('../images/humanweb_logo_ev.png');*/
    background: transparent url('../images/logo_sign.png') no-repeat;
    width: 214px;
    height: 103px;
    margin: 20px 0;
    text-indent:-9000px;
  }
  #btm-line { border-top: 1px solid #ccc; }

#white {
  background-color: #fff;
  padding: 40px 0;
}
/************ menubar */
  ul#nav-menu {
    float: right;
    list-style-type: none;
    position: absolute;
    right: 240px;
    bottom: 20px;
    background: #fff;
    box-shadow: inset 1px 1px 4px #bbb;
    padding: 3px 1px;
    border-radius: 12px;
  }
    ul#nav-menu li {
      display: inline;
      font-size: 15px;
      font-weight: bold;
      float: left;
    }
      ul#nav-menu li.active a {
        color: #d71f26;
      }
      ul#nav-menu li a {
        float: left;
        /*margin-left: 10px;*/
        padding: 0 10px;
        color: #333;
        text-shadow: 1px 1px 1px #d7d7d7;
      }
      ul#nav-menu li:first-child a { border-radius: 12px 0 0 12px; }
      ul#nav-menu li:last-child a { border-radius: 0 12px 12px 0;}
      ul#nav-menu li a:hover {
        /*color: #e01f26;*/
        text-decoration: none;
        background: #f7f7f7;
      }

/************* footer */
#page-footer {
  padding: 20px 0;
  text-align: right;
  font-size: 11px;
}


/************* theme colors & styles */
.light-blue { background-color: #e0e0ef; }
.rounded-big {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
.rounded-small {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.hw-red { color: #7a0f2e; }
.hw-blue { color: #085586; }
.dark-grey { color: #444; }
.light-grey, a.light-grey { color: #7f7f7f; }
.light-green { background-color: #ddeecc; }


/************** what we do */
.tag {
  font-family: 'CartoGothicStdBook';
  font-size: 24pt;
  text-align: center;
  padding: 24px 0 20px;
}

/************ portfolio */
.project {
  border-bottom: 1px solid #ccc;  
  margin-bottom: 40px;
  padding-bottom: 40px;
}
  .project .read-more {
    text-align: right;
  }

.smaller-font { font-size: 0.8em; }
.no-bottom-margin { margin-bottom: 0; }

  .right-sidebar .item { padding: 20px; margin-top: 25px; }
  .right-sidebar .item:first-child { margin-top: 0; }
    .right-sidebar h3 { text-align: center; }
    .right-sidebar .item h3:first-child { margin-top: 0; }
  .right-sidebar li { font-size: 0.9em; line-height: 1.4em; margin-top: 0.7em; }

.screenshot {
  background-color: #fff;
  text-align: center;
  border: 1px solid silver;
  box-shadow: 0px 0px 8px #999;
}
.screenshot img {
  margin: 10px;
}

.quote {
  width: 90%;
  background-color: #e7e7ee;
  margin: 1.6em auto;
  padding: 1.2em;
  line-height: 1.5em;
}
  .quote .text { font-style: italic; font-family: Georgia, serif; }
  .quote .dude { text-align: right; }
 
/**************** team */
.image.joe { background: url('../images/mugshot_joe.jpg') -80px -60px no-repeat;}
.image.declan { background: url('../images/mugshot_declan.jpg') -70px -10px no-repeat; }

.person h2 { margin-bottom: 10px; }

.person .image-border {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}
  .person .image {
    width: 300px;
    height: 200px;
  }



