/* HumanWeb */


/* general stuff */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #e7e7ea url('../images/header-wood.jpg') top center repeat-x;
  color: #222;
}
#bodyContainer {
  text-align: left;
  margin: 0 auto 0;
  display: block;
  position: relative;
  /*background: #e2deda; */
  background: #e7e7ea;
  /*box-shadow: 0px -4px  6px #222;*/
  border-top: 1px solid #f7f7f7;
  padding: 20px 10px 0px;
}
#bodyPage {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0px 0px 5px #aaa;
  padding-bottom: 20px;
}
.left-node { margin-top: 12px; margin-left: 10px; }
.right-node { margin-top: 12px; margin-right: 10px; }
.right-node.top { margin-top: 17px; }

.node { margin-top: 12px; }
a {
  color: #2C3088;
}
a:visited {color: #2C3088;}
p a:hover { border-bottom: 1px dotted #2C3088; }
a img {border: 0}
p {
  line-height: 1.5em;
  margin-bottom: 0.8em;
}
p:last-child { margin-bottom: 0; }
.center { text-align: center; }
.clear { clear: both; }
.clearfix { overflow: auto; width: 100%; }
.none {
  position: absolute;
  left: -9999px;
}
ul li { line-height: 1.5em; }
ul.disc, ul.disc li { list-style: disc outside none;}
ul.disc li {margin-left: 20px; }

h1 { font-family: 'BebasNeueRegular'; font-size: 32pt; margin-bottom: 5px; }
h1.smooth { font-family: 'CabinRegular'; }
  h1.smooth strong { font-family: 'CabinBold'; font-weight: normal; }
h1.light { font-family: 'CartoGothicStdBook'; }
h1.light b { font-family: 'CartoGothicStdBold'; font-weight: normal; }
 
h2 {
  font-family: 'BebasNeueRegular';
  font-size: 24pt;
}
h2.sans {
  font-family: 'Helvetica', 'Arial', sans-serif; 
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 2px;
}
h3 {
  font-family: 'CartoGothicStdBold';
  font-size: 1.2em;
  margin: 1em 0 0.5em;
}


/* fonts */

@font-face {
    font-family: 'CartoGothicStdBold';
    src: url('../fonts/CartoGothicStd-Bold-webfont.eot');
    src: url('../fonts/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('../fonts/CartoGothicStd-Book-webfont.eot');
    src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************** logo & top */
#page-header {
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf7f2', endColorstr='#e2deda');
  background: -webkit-gradient(linear, left top, left bottom, from(#faf7f2), to(#e2deda));
  background: -moz-linear-gradient(top,  #faf7f2,  #e2deda); 
  background-color: #e2deda; */
  background: url('../images/header-wood.jpg') no-repeat;
  margin: 0 auto;
  padding: 0 10px;
  box-shadow: inset 0px -4px 4px #222;
  /* border-bottom: 1px solid #fff; */
}
  #biglogo {
    /*background-image: url('../images/humanweb_logo_med.png');*/
    /*background-image: url('../images/humanweb_logo_ev.png');*/
    background: transparent url('../images/logo_sign.png') no-repeat;
    width: 214px;
    height: 103px;
    margin: 20px 0;
    text-indent:-9000px;
  }
  #btm-line { border-top: 1px solid #ccc; }

#white {
  background-color: #fff;
  padding: 40px 0;
}
/************ menubar */
  ul#nav-menu {
    list-style-type: none;
    position: absolute;
    top: 93px;
    padding: 3px 1px;
    border-radius: 12px;
    width: 100%;
    overflow: auto;
    background: rgba(255,255,255,0.9);
    box-shadow: inset 1px 1px 4px #999;
  }
    ul#nav-menu li {
      display: inline;
      font-size: 17px;
      font-weight: bold;
      float: left;
    }
      ul#nav-menu li.active a, ul#nav-menu li.active a:hover {
        color: #d71f26;
        background: rgba(255,255,255,1);
        text-shadow: 0;
      }
      ul#nav-menu li a {
        text-align: center;
        float: left;
        /*margin-left: 10px;*/
        padding: 0 10px;
        color: #333;
        width: 135px;
        text-shadow: 1px 1px 1px #d7d7d7;
        border-radius: 12px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
      }
      ul#nav-menu li a:hover {
        text-shadow: 1px 1px 4px #fff;
        text-decoration: none;
      }

/************* footer */
#page-footer {
  color: #666;
  padding: 13px 0 10px;
  text-align: right;
  font-size: 11px;
}


/************* theme colors & styles */
.rounded-big {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.rounded-small {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.hw-red { color: #d71f26; }
.hw-blue { color: #085586; }
.dark-grey { color: #444; }
.light-grey, a.light-grey { color: #8f8f8f; }
.light-green { background-color: #ddeecc; }


/************** what we do */
.tag {
  font-family: 'CartoGothicStdBook';
  font-size: 24pt;
  text-align: center;
  padding: 24px 0 20px;
}

/************ case studies page */


.project { cursor: pointer; }
  .project .read-more { text-align: right; }
  .project .screenshot {
    border: 1px solid #e6e6e6; 
    display: block;
    position: relative;
    width: 290px;
    height:200px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  .project .image-overlay {
    width: 292px;
    height: 202px;
    position: absolute; top: 0; left: 0;
    background: rgba(0,0,0,0.5);
    text-align: center;
  }
  .project .image-overlay .arrow {
    color: #fff;
    background: #d71f26;
    text-align: center;
    position: relative;
    top: 81px;
    margin: 0 auto; width: 100px;
    padding: 5px 7px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #870f16;
    box-shadow: 0px 0px 5px #222;
  }
  .project h2 { margin-bottom: 8px; }


/*********** inside portfolio pages */

.smaller-font { font-size: 0.9em; }
.no-bottom-margin { margin-bottom: 0; }

.right-sidebar { margin-top: 9px; }
  .right-sidebar .item { padding: 20px; margin-top: 25px; }
  .right-sidebar .item:first-child { margin-top: 0; }
    .right-sidebar h3 { text-align: center; }
    .right-sidebar .item h3:first-child { margin-top: 0; }
  .right-sidebar li { line-height: 1.4em; margin-top: 0.7em; }


.quote {
  width: 90%;
  background-color: #e7e7ee;
  margin: 1.6em auto;
  padding: 1.2em;
  line-height: 1.5em;
}
  .quote .text { font-style: italic; font-family: Georgia, serif; font-size: 1.3em; line-height: 1.4em;}
  .quote .dude { text-align: right; font-size: 1.2em;}
 
/**************** team */
.image.joe { background: url('../images/mugshot_joe.jpg') no-repeat;}
.image.declan { background: url('../images/mugshot_declan2.jpg')  no-repeat; }

  .person .image {
    width: 100px;
    height: 125px;
    float: left;
    margin:  5px 20px 0 0;
    border: 1px solid #e6e6e6;
  }
  .person .bio { margin-left: 130px; }
