%p
  Joe enjoys wearing many hats at humanweb,
  from keeping books to being the main point of contact for clients. 
  His experience in IT gives him a sympathy for end-users.
%p
  Prior to humanweb, Joe orchestrated computer clusters 
  Department of Energy laboratory and developed custom applications
  for a major university. He enjoys brewing beer, world travel, and
  breakfast.
