%p
  Joe enjoys wearing many hats,
  from UX design to keeping books and being the main point of contact for clients. 
  Prior to humanweb, Joe researched simulation technologies at a
  Department of Energy laboratory, worked in corporate IT, and had a stint
  as a journalist. He enjoys brewing beer, world travel, and
  breakfast.
