-content_for :title do
  Contact

.grid_12
  .left-node
    %h1 Let&#8217;s talk about the next game-changer.

    %p
      If you want to hire a smart, flexible, and friendly team for
      your web project, we're it.

.clear

.grid_4.prefix_4
  %div{:style=>'margin: 65px auto 0; width: 250px;'}
    %p{:style=>'text-align:left; font-size: 1.3em;'}
      = render 'shared/humanweb'
      %br
      1016 W. Jackson Blvd
      %br
      Chicago, IL 60607
      %br
      talk (at) humanweb.co
      %br
      617.910.7317
    
