.grid_12
  .left-node
    %h1 Let's talk about the next game-changer.

    %p{:style=>'text-align:center'}
      = render 'shared/humanweb'
      %br
      1016 W. Jackson Blvd
      %br
      Chicago, IL 60607
      %br
      info@humanweb.co
      
