-content_for :title do
  Web Design, Rich Internet Applications, Software Consulting

.grid_12
  %h1.center
    humanweb designs and develops web stuff for humans.

.clear{:style=>'height: 25px;'}

.grid_4
  %h2 Who
  %p
    <span style="font-size:1.2em;">humanweb</span>
    is an enthusiastic tech studio located in
    <b>Chicago</b> and <b>San Francisco</b>. We love
    turning great ideas into <b>unique,
    useful web sites</b> and <b>web applications</b>.
    We are
    =link_to 'two full-time cofounders', team_path
    who work in
    partnership with a network of designers and developers.

.grid_4
  %h2 What
  %p
    With expertise in areas from <b>scalable infrastructure</b> to
    <b>graphic design</b>, we take a full-stack approach to
    software development. 
    
    humanweb
    develops <b>full-scale web
    apps</b>, <b>promotional sites</b>, and everything in
    between. Read our
    =link_to 'case studies', work_path
    for more information.

.grid_4
  %h2 How
  %p
    Every project is an investment in a client's
    idea. We work with <b>clients as partners</b>, and your approval
    is built in to our design process. We favor <b>Agile
    development</b>, starting from a minimalist design and iteratively
    adding features as necessary. And we have fun.


-#.gray-bar

  -#%table{:style=>'margin-top: 24px; width: 100%;'}
    %tr
      %td.left_cell
      %td.right_cell
        #summary
          -#%p
            We strive to build experiences rather than just
            collections of features. Use of software is driven by
            whether it provides a singular and valuable experience.
            We want to be approachable, to engage you in the design
            process. So that you know and we know that you're
            getting an application that does what you need it to
            do.  We work with you closely to design/detail the
            functionality of your application before we start coding,
            saving us time and you money.  We'll work to understand
            your needs and your problems and design a solution that
            feels natural and useable and human.

-#= render 'shared/menu'
          
-#portfolio
  .project
    .text
      .title Help Around Town
      .description
        A site for neighborhood based job markets, so that you
        can hire kids and feed them chocolate. Built in RoR for
        the good revolutionary population of Lexington, MA.
        Placeholder text free-association. Social local jobs
        neighborhood based, but agile methodology for the win.

    .screen
      = image_tag 'portfolio_hat.png'

  .project
    .text
      .title Global Green Arts
      .description
        Super-duper customized Wordpress template developed
        by artisan baboons in the remote carribean for two unmarried
        brothers who live together in Andersonville, Chicago's
        premier Swedish-homosexual neighborhood.

    .screen
      = image_tag 'portfolio_gga.png'

  .project
    .text
      .title South Side Health
      .description
        It turns out that poor people do really need drugs, but
        only if they're the prescription kind. This site helps
        college kids help others find things like drugs, food,
        and shelter to ensure overall well-being. And that's really
        no joke at all.
       

    .screen
      = image_tag 'portfolio_ssh.png'





