-content_for :title do
  Team

.container_12

  .grid_12
    .left-node.right-node.top
      %h1
        We are a small tech studio that cares about the details,
        and can give your project the attention it deserves.

  .clear

  .grid_4.prefix_1.suffix_1
    .person
      .image.declan 
      .bio
        %h2 Declan Frye
        = render 'bio_declan'


  .grid_4.prefix_1.suffix_1
    .person
      .image.joe
      .bio
        %h2 Joseph Flesh
        = render 'bio_joe'
