-content_for :title do
  Team

.person
  .image-border
    .image.declan 
  .bio
    %h2 Declan Frye
    = render 'bio_declan'


.person
  .image-border
    .image.joe
  .bio
    %h2 Joseph Flesh
    = render 'bio_joe'
