-content_for :title do
  Team

.container_12

  .person
    .grid_5
      .image-border
        .image.declan 
    .grid_7.bio
      %h2 Declan Frye
      = render 'bio_declan'

  .clear


  .person{:style => 'margin-top: 20px;'}
    .grid_5
      .image-border
        .image.joe
    .bio.grid_7
      %h2 Joseph Flesh
      = render 'bio_joe'

  .clear
