-content_for :title do
  Team

.grid_12.headline-container.center
  %h1 Nice to meet you!
  %h2
    We develop long-term relationships with
    top-notch clients, bringing our energy and expertise
    to the table every single day.

.clear

.grid_6
  .person
    -#.image.joe
    -#.bio
    %h3 Joseph Flesh
    %p
      Joe enjoys wearing many hats,
      from interface design to keeping books
      and being the main point of contact for clients. 
      Prior to humanweb, Joe researched simulation technologies at a
      Department of Energy laboratory, worked in corporate IT, and had a stint
      as a journalist. He enjoys long walks, world travel, and
      breakfast.

.grid_6
  .person
    -#.image.declan
    -#.bio
    %h3 Declan Frye
    %p
      Declan is an exceptionally clear thinker, and often distills
      his thoughts into beautiful application specs.
      He's responsible for the
      heavy lifting in application architecture. A Manhattan native, he loves the
      weather and sailing in the Bay Area. He owns a wooden sailboat
      and studies Brazilian jujitsu.



