-content_for :title do
  Team

.container_12

  .grid_12
    .left-node
      %h1
        Here we are
        %span.light-grey | Nice to meet you too!

  .clear

  .grid_6
    .left-node
      .person
        .image.declan
        .bio
          %h2 Declan Frye
          = render 'bio_declan'


  .grid_6
    .right-node
      .person
        .image.joe
        .bio
          %h2 Joseph Flesh
          = render 'bio_joe'
