-content_for :title do
  Team

.container_12

  .grid_12
    .left-node
      %h1
        Here we are
        %span.light-grey | Nice to meet you too!

  .clear

  .grid_5
    .left-node{:style=>'margin-right: 20px;'}
      %h2.sans What do we do?
      %p
        We look to develop <strong>long-term relationships with
        fantastic clients</strong>, bringing our energy and expertise
        to the table every single day.
      %p
        Technology should be a tool to make life more efficient. We
        love building <strong>unique sites and applications</strong> that harness the
        internet to provide <strong>cost-effective solutions</strong>.
      %p
        We couldn't be more excited to work with you. Contact us to
        learn more.

  .grid_7
    .right-node
      .person
        .image.declan
        .bio
          %h2.sans Declan Frye
          %p
            Declan is an exceptionally clear thinker when it comes to
            understanding the connections between real-world interactions
            and application architecture. A Manhattan native, he loves the
            weather and sailing in the Bay Area. He owns a wooden sailboat
            and studies Brazilian jujitsu.

      .clear

      .person{:style=>'margin-top: 20px;'}
        .image.joe
        .bio
          %h2.sans Joseph Flesh
          %p
            Joe enjoys wearing many hats,
            from UX design to keeping books and being the main point of contact for clients. 
            Prior to humanweb, Joe researched simulation technologies at a
            Department of Energy laboratory, worked in corporate IT, and had a stint
            as a journalist. He enjoys brewing beer, world travel, and
            breakfast.
