- content_for :title do
  Professional Wordpress Web Design
- content_for :study_title do
  Global Green Arts

- content_for :study_logo do
  = image_tag 'logo_globalgreen.png'

- content_for :study_body do
  %p blah blah blah
