- content_for :title do
  Web Application Design, Local Job Markets
- content_for :study_title do
  Help Around Town

-# content_for :study_logo do
  = image_tag 'logo_hat.png'

- content_for :study_sidebar do
  .screenshot= image_tag 'portfolio_hat.png'
  .light-green.item.rounded-small
    %h3 Technology Used
    %ul
      %li Ruby and Ruby on Rails
      %li Continuous integration
      %li AJAX and jQuery
      %li Amazon Web Services (EC2, EBS)
      %li Distributed code control with git
      %li TDD (Test-Driven Development)
      %li MySQL
      %li Geolocation with the Google API




- content_for :study_body do
  %p How do you create work in a recession? In May 2010, Reem Yared started hearing the same story from friends: their college kids were back in town for the summer and could not find work. She decided to create job markets where there were none before.

  %p She approached Humanweb with a thick specification for a site, looking for a full stack of design and development services to bootstrap her startup. After investigating the design requirements, we worked with Help Around Town to develop page-by-page prototypes of the site.

  %blockquote.quote.rounded-big
    .text
      &#8220;Humanweb not only built my vision, they helped me
      articulate requirements and better understand my audience.&#8221;
    .dude
      %b Reem Yared
      %br
      CEO, Help Around Town


  %p Help Around Town is now a full-fledged social network. Users maintain profiles, apply for jobs, and leave recommendations for other users to build a network of trust.

  %p
    Other features of the site include:
  %ul.disc
    %li weekly bulletins sent out to users, recommending new jobs
    %li a payment system for posting local advertisements
    %li administrative functions that give a broad view of site activity
    %li an application process for jobs that protects the privacy of both parties
  %p

  %p.center
    %em This case study isn't complete yet.

  -#= image_tag 'logo_hat.png'
