- content_for :title do
  Web Application Design, Local Job Markets
- content_for :study_title do
  Help Around Town

-# content_for :study_logo do
  = image_tag 'logo_hat.png'

- content_for :study_sidebar do
  .screenshot= image_tag 'portfolio_hat.png'
  .light-green.item.rounded-small
    %h3 Technology Used
    %ul
      %li Ruby and Ruby on Rails
      %li Continuous integration
      %li AJAX and jQuery
      %li Amazon Web Services (EC2, EBS)
      %li Distributed code control with git
      %li TDD (Test-Driven Development)
      %li MySQL
      %li Geolocation with the Google API




- content_for :study_body do
  %p How do you create work in a recession? In May 2010, Reem Yared started hearing the same story from friends: their college kids were back in town for the summer and could not find work. Or the college student would find work, and the high school sibling who had worked at a local store all year, would not get hired. All the typical jobs youths used to rely on seemed to evaporate.
  %blockquote.quote.rounded-big
    .text
      &#8220;Humanweb not only built my vision, they helped me
      articulate requirements and better understand my audience.&#8221;
    .dude
      %b Reem Yared
      %br
      CEO, Help Around Town

  %p Articles and stats told the same story: teens and young adults were facing the worse job market since 1942. Their age segment had the highest rate of unemployment since the Great Depression. This can have grave consequences, as summer jobs are the source of savings for the college year. Not being able to work in the summer could sometimes make the difference between being able to attend college or not.
  %p So, kids unable to work might also be unable to pursue their education. This would leave them both without experience and without education - a dismal outlook for future job prospects.
  %p As I thought about where one could generate work, I realized we all have a to-do list. Things we should do around the house or yard, need a little help with, but don't know who to turn to. Projects that don't require a professional, but that are too big for one person. What if we could match the need with the service provider? What were the barriers? Trust - Knowledge - Access. If we could surmount these, then we could facilitate cash-generating opportunities in communities across the US - and beyond. Connect people in their neighborhoods, so they could help each other out. 
  = image_tag 'logo_hat.png'
