- content_for :title do
  Web Application Design, Local Job Markets
- content_for :study_title do
  Help Around Town

- content_for :study_logo do
  = image_tag 'logo_hat.png'

- content_for :study_body do
  %p Committed to growth and to extending its reach within the music industry, The Billions Corporation, a booking agency headquartered in Chicago, decided to merge with Aero Booking in Seattle. Billions' 10-year-old Delphi-based system needed changes to support the new office and to provide new functionality. With just two months to prepare, Billions engaged Soliant to build a new system from scratch.
  %p Soliant hit the ground running. After just a few weeks of collaboration with Billion’s stakeholders, Soliant produced a detailed project plan that set forth the design, the development schedule, and the implementation plan for an intuitive, reliable booking and performance management application. Four more weeks and the new software was deployed and the merger ready. 
  %p Soliant’s focus on rapid application development kept the project on schedule and on budget, while also ensuring that business and performance requirements were met. Not only does the new software support both offices, it enables them to centralize performance data and to do away with spreadsheets.
