-content_for :title do
  Portfolio of Work

.image-overlay{:style=>'display:none;'}
  .arrow read more &gt;

.project.clearfix
  .grid_8
    .left-node
      %h1
        South Side Health
        %span.light-grey | Featured Case Study
        
      %p
        The first of its kind, this database of social services is used
        by social workers nationwide to help their clients find employment,
        education, food and shelter. Developed at the University of Chicago
        Medical Center in partnership with HealthLeads, an award-winning
        service organization.

  .grid_4
    .right-node.top
      %a.screenshot{:href => work_southsidehealth_path}
        = image_tag 'thumb-ssh.jpg'

.clear

.project.grid_4
  .left-node
    %h2 Help Around Town
    %a.screenshot{:href => work_helparoundtown_path}
      = image_tag 'thumb-hat.jpg', :title => 'Help Around Town'

    %p
      When a Boston-based startup needed a full range of turn-key
      design and development services, they turned to
      <span style="font-size:1.2em;">humanweb</span>.

.project.grid_4
  .node
    %h2 Global Green Arts
    %a.screenshot{:href => work_globalgreenarts_path}< 
      = image_tag 'thumb-gga.jpg'
    %p
      We worked with the veteran graphic designers at Global Green Arts to create
      a promotional website showcasing their line of eco-friendly art materials.

.project.grid_4
  .right-node
    %h2 Project EVIE
    %a.screenshot{:href => work_projectevie_path} 
      = image_tag 'thumb-evie.jpg'
    %p
      Website launch and social media campaign for a non-profit promoting electric vehicles.
