- content_for :title do
  Social Media Campaign, Web Design, Electric Vehicles
- content_for :study_title do
  Project EVIE

- content_for :study_logo do
  = image_tag 'logo_evie.png'

- content_for :study_body do
  %p
