- content_for :title do
  Find Social Services
- content_for :study_title do
  Purple Binder

-content_for :study_sidebar do
  .item.light-green.rounded-small
    %h3 Technology Used
    %ul
      %li Rails 3.2
      %li jQuery
      %li HTML5 with CSS3
      %li Geolocation with Google API
      %li Dynamic frontend with EmberJS

- content_for :study_logo do
  = image_tag 'thumb-rentstuff.png'

- content_for :study_body do
  %p
    RentStuff.com
