- content_for :title do
  PHP Development
- content_for :study_title do
  RentStuff

-content_for :study_sidebar do
  .item.light-green.rounded-small
    %h3 Technology Used
    %ul
      %li PHP with CodeIgniter
      %li jQuery
      %li HTML5 with CSS3

- content_for :study_logo do
  = image_tag 'thumb-rentstuff.png'

- content_for :study_pics do
  = image_tag 'screenshot-rentstuff.png', :class => 'screenshot'

- content_for :study_body do
  %p
    After closing a major round of funding in Spring 2012, RentStuff was ready
    to expand their business into a new sector. They hired
    = render 'shared/humanweb'
    to design and build the web application for their new operations.

  %p
    The new application allows rental businesses to more easily manage their business inventory.
    At the same time, it plugs them into the RentStuff marketplace so that they
    have access to RentStuff's broad customer base.

  %p
    Though the new site was developed as a separate piece of software from
    the existing site, it integrates perfectly with the extant database and
    user interface.

  %p
    We had a fantastic time working with RentStuff as they grew their company.


