- content_for :title do
  PHP Development
- content_for :study_title do
  RentStuff

-content_for :study_sidebar do
  .item.light-green.rounded-small
    %h3 Technology Used
    %ul
      %li PHP with CodeIgniter
      %li jQuery
      %li HTML5 with CSS3

- content_for :study_logo do
  = image_tag 'thumb-rentstuff.png'

- content_for :study_body do
  %p
    RentStuff.com
