- content_for :title do
  Web Application Design, Custom Database Design, Social Services Database
- content_for :study_title do
  South Side Health

- content_for :study_logo do 
  = image_tag 'logo_ssh.png'

- content_for :study_body do
  %p In partnership with
  = image_tag 'logo_urbanhealth.png'
  = image_tag 'logo_healthleads.png'

