- content_for :title do
  Web Application Design, Custom Database Design, Social Services Database
- content_for :study_title do
  South Side Health

- content_for :study_sidebar do
  .item
    %h3.center In partnership with
    = image_tag 'logo_urbanhealth.png'
    -#%br
    -#= image_tag 'logo_healthleads.png'

  -#= image_tag 'logo_ssh.png'
  .item.light-green.rounded-small
    %h3 Technology Used
    %ul
      %li PHP and CakePHP
      %li Agile development
      %li AJAX, Ext, and jQuery
      %li Weekly user focus groups
      %li Distributed version control with Mercurial
      %li Project management with Kiln and FogBugz
      %li MySQL
      %li Geolocation with the Google API

- content_for :study_body do

  %p
    In emergency rooms around the country, doctors routinely prescribe
    antibiotics to patients who do not have access to adequate food or shelter.
    This site easily allows doctors, social workers and others to “prescribe”
    essential health and social services, such as food pantries, employment
    assistance, and childcare.

  %h2.sans What they needed
  %p
    When Humanweb was first approached to develop the site, it was already in
    widespread use despite major issues with stability and user interface. This
    pointed towards a deep-seated need for such an application, and only made
    us more excited to take on the project.

  %h2.sans What we did
  %p
    We spent the first few weeks updating the look of the site and fixing
    bugs and usability issues. Then, Humanweb met with heavy users of the site
    to discover what they liked, what they didn't, and what they wished they
    could do.
    Through weekly meetings with users, we invested them in the development
    process and were able to get immediate feedback from the people to whom
    the site mattered most.

  -#%p
    We improved the search algorithm, added more sophisticated mapping
    capabilities,

  %h2.sans The results
  %p
    South Side Health is now used by social workers and others to serve
    tens of thousands of clients. By centralizing information about services
    available in an area, hospitals reduce unnecessary emergency
    room visits, and social workers help more people find the essentials that
    they need.
    
    
  -#%blockquote.quote.rounded-big
    .text
      &#8220;Humanweb worked closely with our stakeholders to discover their
      needs, and then delivered on their promises.&#8221;
    .dude
      %b Stephen Brown
      %br
      Technology Director, Urban Health Institute



  -#%blockquote.quote.rounded-big
    .text
      &#8220;South Side Health improved by leaps and bounds with Humanweb
      working on it. Joe &amp; Declan were incredible at figuring out what
      we needed. The improvements allowed us to better serve
      the under-served.&#8221;
    .dude
      %b Sarah Grusin
      %br
      Program Manager, HealthLeads




