- content_for :content do
  %section.blog
    %nav.grid_4
      %h3 Archive
      %ul
        - Post.all.each do |post|
          %li= link_to post.title, post_path(post), :class => 'text'
    .content.grid_8
      = content_for?(:blog_content) ? yield(:blog_content) : yield

=render :file =>'layouts/application'
